body {
    display: flex;
    flex-direction: column;
    min-width: 375px;
}

header {
    flex: 0 0px;
    width: 100vw;
    background-color: #9a9a9a;
}

header > h1 {
    color: brown;
    font-size: 4.5em;
    text-align: center;
    text-shadow: 3px 3px maroon;
    
}

footer {
    color: white;
    padding-top: 10px;
    text-align: right;
    padding-right: 30px;
    padding-bottom: 50px;
    display: flex;
    flex-direction: row;
    width: 100vw;
    background-color: #9a9a9a;
    flex: 0 15vh;
}

section:nth-child(1) {
    background-color: green;
    flex: 10;
}
section:nth-child(2){
    background-color: yellow;
    outline: maroon;
    flex: 1;
    padding-right: 30px;

}

section:nth-child(3){
    background-color: #b30000;
    outline: maroon;
    flex: 1;
    padding-right: 10px;
}

main {
    background-color: #b2beb5;
    width: 100vw;
    flex: 1 63vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

menu {
    
    color: white;
    text-align: center;
    display: flex;
    flex-direction: row;
    list-style: none;
    

  }

li:nth-child(1) {
    background-color:#b30000;
    outline-style: solid;
    outline-color: maroon;
    flex: 1;

}

li:nth-child(2) {
    flex: 1;
    
}

li:nth-child(3) {
    background-color:#b30000;
    outline-style: solid;
    outline-color: maroon;
    flex: 1;
    
}

li:nth-child(4) {
    flex: 1;
    
}

li:nth-child(5) {
    background-color:#b30000;
    outline-style: solid;
    outline-color: maroon;
    flex: 1;
    
}

li:nth-child(6) {
    flex: 1;
    
}

li:nth-child(7) {
    background-color:#b30000;
    outline-style: solid;
    outline-color: maroon;
    flex: 1;
    
}

li:nth-child(8) {
    flex: 1;
    
}


@media(max-height: 600px) {
    header: {
        display: none;
    }
    footer: {
        display: none;
    }
    main {
        flex: 1 100vh;
    }
}